p.round3 {
  border-radius: 34px 34px 34px 34px;
-webkit-border-radius: 34px 34px 34px 34px;
-moz-border-radius: 34px 34px 34px 34px;
background: #929292;
width: 150px;
border: 6px solid #515151;
}
img.rounded-corners {
  border-radius: 30px;
}
